body {
  margin: 0;
  padding: 0;
  background-image: url(drone.jpg);
  background-attachment: fixed;
}

.NavigationBar li {
  list-style: none;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  padding: 25px 7px 2px 7px;
}
.NavigationBar li:hover {
	text-decoration:underline;
}

.NavigationBar {
  position:fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.0);
}

.NavigationBar ul {
  width: 90%;
	overflow:hidden;
	margin: 0 auto;
  padding-left: 0;
  padding-bottom:1%;

}

.NavigationBar a {
  text-decoration: none;
  color: white;
}

.NavigationBarRight {
  float: right;
  overflow: auto;
}

.NavigationBarRight img {
  width: 20px;
  height: auto;
}

.NavigationBarLeft {
  float: left;
  overflow: auto;
}

.NavigationBarLeft img {
  width: 84px;
}

.Bakgrunn {
  padding-top: 100px;
  text-align: center;
  
}

.Bakgrunn h1 {
  font-size: 75px;
  font-family: 'Orbitron', sans-serif;
  color: white;
  padding-top: 0;
  margin-top: 0;
}

.Bakgrunn h2 {
	font-family: 'Ubuntu', sans-serif;
	color:white;
	font-size:250%;
	height:20vw;
}



.Partnere {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  width: 100%;
  margin: auto;
  text-align: center;
}

.Partnere img {

  padding: 0% 2%;
  margin: 0 auto;
}



.Partnere h3 {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}

.content {
	height:600px;
	margin:0 auto;
	background-image:url(drone1.jpg);
	background-size:cover;
	color:white;
	font-family: 'Ubuntu', sans-serif;
	
}

.content h3 {
	padding-left:15%;
	padding-top:5%;
	font-size:30px;
}

.content ul{
	padding-left:15%;
}
.content p {
	padding:1% 38.2% 1% 15%;
}


.layer {
	background-color:rgba(0,0,0,0.7);

	top:0;
	left:0;
	width:100%;
	height:100%;
}

