body {
  margin: 0;
  padding: 0;
}

.NavigationBar li {
  list-style: none;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  padding: 25px 7px 2px 7px;
}
.NavigationBar li:hover {
	text-decoration:underline;

}

.NavigationBar {
  position:fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.0);
}

.NavigationBar ul {
  width: 90%;
	overflow:hidden;
	margin: 0 auto;
  padding-left: 0;
  padding-bottom:1%;

}

.NavigationBar a {
  text-decoration: none;
  color: white;
}

.NavigationBarRight {
  float: right;
  overflow: auto;
}

.NavigationBarRight img {
  width: 20px;
  height: auto;
}

.NavigationBarLeft {
  float: left;
  overflow: auto;
}

.NavigationBarLeft img {
  width: 84px;
}

.Bakgrunn {
  padding-top: 100px;
  text-align: center;
  background-image: url(drone.jpg);
  background-attachment: fixed;
}

.Bakgrunn h1 {
  font-size: 75px;
  font-family: 'Orbitron', sans-serif;
  color: white;
  padding-top: 0;
  margin-top: 0;
}

.Bakgrunn h2 {
	font-family: 'Ubuntu', sans-serif;
	color:white;
	font-size:250%;
}
